form{
    margin-top: 3rem;
}

form input[name="city"],
form input[name="country"]{
    background-color: transparent;
    color: rgb(78, 75, 75);
    border-bottom: 2px solid wheat;
    border-radius: 0;
}